# Account config for work and personal accounts
[includeIf "gitdir:~/work/"]
  path = .gitconfig-work
[includeIf "gitdir:~/.config/"]
  path = .gitconfig-personal
[includeIf "gitdir:~/personal/"]
  path = .gitconfig-personal
[includeIf "gitdir:~/Documents/"]
  path = .gitconfig-personal
[includeIf "gitdir:~/dotfiles/"]
  path = .gitconfig-personal

[core]
	editor = nvim
[push]
	autoSetupRemote = true
